<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý bảng giá phòng</title>
</head>
<body>
<h2>Danh sách giá phòng</h2>

<a th:href="@{/giaphong/add}">+ Thêm giá phòng</a>
<table border="1">
    <thead>
    <tr>
        <th>Mã loại phòng</th>
        <th>Tên loại phòng</th>
        <th>Block giá</th>
        <th>Giá tiền</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gp : ${listGiaPhong}">
        <td th:text="${gp.loaiPhong.maLp}"></td>
        <td th:text="${gp.loaiPhong.tenLoai}"></td>
        <td th:text="${gp.blockGia}"></td>
        <td th:text="${gp.giaTien}"></td>
        <td>
            <a th:href="@{'/giaphong/edit/' + ${gp.loaiPhong.maLp} + '/' + ${gp.blockGia}}">Sửa</a>
            |
            <a th:href="@{'/giaphong/delete/' + ${gp.loaiPhong.maLp} + '/' + ${gp.blockGia}}"
               onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
