<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm/Sửa phòng</title>
</head>
<body>
<h2 th:text="${Phong.maPhong == null ? 'Thêm phòng' : 'Sửa phòng'}"></h2>

<form th:action="@{/phong/save}" th:object="${Phong}" method="post">
    <input type="hidden" th:field="*{maPhong}"/>

    <label>Tên phòng:</label>
    <input type="text" th:field="*{tenPhong}" required/>
    <br/>

    <label>Mã tòa nhà:</label>
    <input type="text" th:field="*{toaNha.maToa}" required/>
    <br/>

    <label>Mã tòa nhà:</label>
    <input type="text" th:field="*{toaNha.tenToa}" required/>
    <br/>

    <label>Mã loại phòng:</label>
    <input type="text" th:field="*{loaiPhong.maLp}" required/>
    <br/>

    <label>Tên loại phòng:</label>
    <input type="text" th:field="*{loaiPhong.tenLoai}" required/>
    <br/>

    <label>Sức chứa:</label>
    <input type="number" th:field="*{sucChua}" min="1" required/>
    <br/>

    <button type="submit">Lưu</button>
</form>

<a th:href="@{/phong}">Quay lại</a>
</body>
</html>
