<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm/Sửa hợp đồng thuê</title>
</head>
<body>
<h2 th:text="${hopDongThue.maHopDong == null ? 'Thêm hợp đồng thuê' : 'Sửa hợp đồng thuê'}"></h2>

<!-- Hiển thị lỗi -->
<div th:if="${error}" style="color:red;" th:text="${error}"></div>

<form th:action="@{/hopdongthue/save}" th:object="${hopDongThue}" method="post">
    <input type="hidden" th:field="*{maHopDong}"/>

    <label>Mã phòng:</label>
    <input type="number" th:field="*{idPhong}" required/>
    <br/>

    <label>Ngày bắt đầu:</label>
    <input type="date" th:field="*{ngayBatDau}" required/>
    <br/>

    <label>Ngày kết thúc:</label>
    <input type="date" th:field="*{ngayKetThuc}" required/>
    <br/>

    <label>Ngày kết thúc:</label>
    <input type="date" th:field="*{ngayThanhLy}" required/>
    <br/>

    <button type="submit">Lưu</button>
</form>

<a th:href="@{/hopdongthue}">Quay lại</a>
</body>
</html>
